# How to Forecast a Time Series with Python

Wouldn't it be nice to know the future? This is the notebook that relates to the blog post on medium. Please check the blog for visualizations and explanations, this notebook is really just for the code :)


## Processing the Data

Let's explore the Industrial production of electric and gas utilities in the United States, from the years 1985-2018, with our frequency being Monthly production output.

You can access this data here: https://fred.stlouisfed.org/series/IPG2211A2N

This data measures the real output of all relevant establishments located in the United States, regardless of their ownership, but not those located in U.S. territories.

In [1]:
%matplotlib inline
import pandas as pd
data = pd.read_csv("Electric_Production.csv",index_col=0)
data.head()

            IPG2211A2N
DATE
1985-01-01     72.5052
1985-02-01     70.6720
1985-03-01     62.4502
1985-04-01     57.4714
1985-05-01     55.3151

Right now our index is actually just a list of strings that look like a date, we'll want to adjust these to be timestamps, that way our forecasting analysis will be able to interpret these values:

In [2]:
data.index

Index(['1985-01-01', '1985-02-01', '1985-03-01', '1985-04-01', '1985-05-01',
       '1985-06-01', '1985-07-01', '1985-08-01', '1985-09-01', '1985-10-01',
       ...
       '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
       '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01', '2018-01-01'],
      dtype='object', name='DATE', length=397)

In [3]:
data.index = pd.to_datetime(data.index)

In [4]:
data.head()

            IPG2211A2N
DATE
1985-01-01     72.5052
1985-02-01     70.6720
1985-03-01     62.4502
1985-04-01     57.4714
1985-05-01     55.3151

Let's first make sure that the data doesn't have any missing data points:

In [6]:
data[pd.isnull(data['IPG2211A2N'])]

Empty DataFrame
Columns: [IPG2211A2N]
Index: []

Let's also rename this column since its hard to remember what "IPG2211A2N" code stands for:

In [7]:
data.columns = ['Energy Production']

In [35]:
data.head()

            Energy Production
DATE
1985-01-01            72.5052
1985-02-01            70.6720
1985-03-01            62.4502
1985-04-01            57.4714
1985-05-01            55.3151

In [36]:
import plotly 
plotly.tools.set_credentials_file(username='MartinKostov', api_key='MJuWa5DCyFHlwHPWmSqM')# plotly.tools.set_credentials_file()

In [37]:
from plotly.plotly import plot_mpl
from statsmodels.tsa.seasonal import seasonal_decompose
result = seasonal_decompose(data, model='multiplicative')
fig = result.plot()
plot_mpl(fig)

'https://plot.ly/~MartinKostov/12'

In [11]:
import plotly.plotly as ply
import cufflinks as cf
# Check the docs on setting up offline plotting

In [12]:
data.iplot(title="Energy Production Jan 1985--Jan 2018", theme='pearl')

/Users/mac/anaconda3/envs/AI-Test/lib/python3.6/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [13]:
from pyramid.arima import auto_arima

**he AIC measures how well a model fits the data while taking into account the overall complexity of the model. A model that fits the data very well while using lots of features will be assigned a larger AIC score than a model that uses fewer features to achieve the same goodness-of-fit. Therefore, we are interested in finding the model that yields the lowest AIC value.

In [15]:
stepwise_model = auto_arima(data, start_p=1, start_q=1,
                           max_p=3, max_q=3, m=12,
                           start_P=0, seasonal=True,
                           d=1, D=1, trace=True,
                           error_action='ignore',  
                           suppress_warnings=True, 
                           stepwise=True)

Fit ARIMA: order=(1, 1, 1) seasonal_order=(0, 1, 1, 12); AIC=1782.527, BIC=1802.280, Fit time=4.654 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 0, 12); AIC=2012.117, BIC=2020.018, Fit time=0.067 seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(1, 1, 0, 12); AIC=1942.042, BIC=1957.844, Fit time=0.841 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 1, 12); AIC=1837.289, BIC=1853.091, Fit time=1.231 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(1, 1, 1, 12); AIC=1783.875, BIC=1807.579, Fit time=5.118 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(0, 1, 0, 12); AIC=1920.884, BIC=1936.686, Fit time=1.231 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(0, 1, 2, 12); AIC=1783.389, BIC=1807.093, Fit time=12.086 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(1, 1, 2, 12); AIC=1781.979, BIC=1809.634, Fit time=12.135 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(1, 1, 2, 12); AIC=1837.164, BIC=1860.868, Fit time=4.674 seconds
Fit ARIMA: order=(2, 1, 1) seasonal_order=(1, 1, 2, 12); AIC=1782.699, BIC=1814.304, Fit time=13.970 seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(1, 1, 2, 12); AIC=1852.587, BIC=1876.291, Fit time=3.490 seconds
Fit ARIMA: order=(1, 1, 2) seasonal_order=(1, 1, 2, 12); AIC=1782.052, BIC=1813.658, Fit time=12.528 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(1, 1, 2, 12); AIC=1864.184, BIC=1883.937, Fit time=3.536 seconds
Fit ARIMA: order=(2, 1, 2) seasonal_order=(1, 1, 2, 12); AIC=1785.044, BIC=1820.600, Fit time=13.892 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(2, 1, 2, 12); AIC=1770.048, BIC=1801.653, Fit time=16.686 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(2, 1, 1, 12); AIC=1771.290, BIC=1798.945, Fit time=8.252 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(2, 1, 2, 12); AIC=1816.627, BIC=1844.282, Fit time=8.328 seconds
Fit ARIMA: order=(2, 1, 1) seasonal_order=(2, 1, 2, 12); AIC=1772.045, BIC=1807.601, Fit time=17.343 seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(2, 1, 2, 12); AIC=1837.278, BIC=1864.933, Fit time=5.269 seconds
Fit ARIMA: order=(1, 1, 2) seasonal_order=(2, 1, 2, 12); AIC=1771.114, BIC=1806.670, Fit time=15.804 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(2, 1, 2, 12); AIC=1854.601, BIC=1878.305, Fit time=4.823 seconds
Fit ARIMA: order=(2, 1, 2) seasonal_order=(2, 1, 2, 12); AIC=1775.656, BIC=1815.163, Fit time=17.030 seconds
Total fit time: 183.017 seconds

In [16]:
stepwise_model.aic()

1770.0477439645745

## Train Test Split

In [17]:
data.head()

            Energy Production
DATE
1985-01-01            72.5052
1985-02-01            70.6720
1985-03-01            62.4502
1985-04-01            57.4714
1985-05-01            55.3151

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 397 entries, 1985-01-01 to 2018-01-01
Data columns (total 1 columns):
Energy Production    397 non-null float64
dtypes: float64(1)
memory usage: 6.2 KB

We'll train on 20 years of data, from the years 1985-2015 and test our forcast on the years after that and compare it to the real data.

In [19]:
train = data.loc['1985-01-01':'2016-12-01']

In [20]:
train.tail()

            Energy Production
DATE
2016-08-01           115.5159
2016-09-01           102.7637
2016-10-01            91.4867
2016-11-01            92.8900
2016-12-01           112.7694

In [21]:
test = data.loc['2015-01-01':]

In [22]:
test.head()

            Energy Production
DATE
2015-01-01           120.2696
2015-02-01           116.3788
2015-03-01           104.4706
2015-04-01            89.7461
2015-05-01            91.0930

In [23]:
test.tail()

            Energy Production
DATE
2017-09-01            98.6154
2017-10-01            93.6137
2017-11-01            97.3359
2017-12-01           114.7212
2018-01-01           129.4048

In [24]:
len(test)

37

In [25]:
stepwise_model.fit(train)

ARIMA(callback=None, disp=0, maxiter=50, method=None, order=(1, 1, 1),
   out_of_sample_size=0, scoring='mse', scoring_args={},
   seasonal_order=(2, 1, 2, 12), solver='lbfgs', start_params=None,
   suppress_warnings=True, transparams=True, trend='c')

In [38]:
future_forecast = stepwise_model.predict(n_periods=37)

In [39]:
future_forecast

array([120.97795841, 109.87129892, 100.4201597 ,  90.60015159,
        92.18854889, 103.26917037, 112.92974509, 112.20866163,
       100.97658628,  91.9579431 ,  95.79520956, 111.25692629,
       120.38290969, 110.98625953, 102.05276964,  90.533517  ,
        92.19818331, 102.84260695, 112.06478176, 110.95990515,
       100.78674155,  92.05404402,  96.28114176, 109.55906722,
       119.90051824, 111.01352958, 101.58134902,  90.26959214,
        91.85114393, 102.87555676, 112.12090074, 111.30024286,
       101.14046255,  91.90835452,  95.63267852, 109.19928601,
       119.78553659])

In [28]:
future_forecast = pd.DataFrame(future_forecast,index = test.index,columns=['Prediction'])

In [29]:
future_forecast.head()

            Prediction
DATE
2015-01-01  120.977958
2015-02-01  109.871299
2015-03-01  100.420160
2015-04-01   90.600152
2015-05-01   92.188549

In [30]:
test.head()

            Energy Production
DATE
2015-01-01           120.2696
2015-02-01           116.3788
2015-03-01           104.4706
2015-04-01            89.7461
2015-05-01            91.0930

In [31]:
pd.concat([test,future_forecast],axis=1).iplot()

/Users/mac/anaconda3/envs/AI-Test/lib/python3.6/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [33]:
future_forecast2 = future_forecast

In [34]:
pd.concat([data,future_forecast2],axis=1).iplot()

/Users/mac/anaconda3/envs/AI-Test/lib/python3.6/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead